# Ignore any files in /bin and /obj Folders
WeldingDataApplication/bin/
WeldingDataApplication/obj/
WeldingDataApplication/.vs/
**/.vs/*
/WeldingDataApplication/obj
/WeldingDataApplication/bin
/WeldingDataApplication/.vs
/WeldingDataApplication/obj/*