body {
    background-color: #2e323a;
    font-family: Consolas, monospace;
    margin:25px;
}

p {
 
    font-size: 16px;     
}
.error {
    color: #e06057;
}
.error::before {
    content: "";
    background-image: url('/images/error.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
.onnistui {
    color: #81bf71;
}

.onnistui::before {
    content: "";
    background-image: url('/images/success.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
.cmd {
    margin-top: 10px;
    padding: 25px;
    background-color: #282c34;
    border-radius: 25px;
    border: 5px solid #e2e2e2;
    word-wrap: break-word;
}














