body {
    background-color: #2f3e46;
    font-family: Consolas, monospace;
    margin: 25px;
}
h1{
    text-transform:uppercase;
}
h5 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
p {
 
    font-size: 16px;     
}
.error {
    color: #e06057;
}
.error::before {
    content: "";
    background-image: url('/images/error.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
.onnistui {
    color: #81bf71;
}

.onnistui::before {
    content: "";
    background-image: url('/images/success.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
.container {
/*    display: flex;*/
}
.cmd {
    margin: 25px;
    padding: 25px;
    background-color: #354f52;
    border-radius: 25px;
    border: 5px solid #e2e2e2;
    word-wrap: break-word;
/*   float: left;*/
  width: 100%;
    margin-right: 5%;
}













