@page
@model IndexModel
@{
    ViewData["Title"] = "root@weldcube: ~";
}
<div class="cmd">
    <h1>ONNISTUMISLOG</h1>
@foreach (var item in Model.onnistumisloki)
{
 
        <p class="onnistui">@item</p>
    
}
 </div>

<div class="cmd">
    <h1 >ERRORLOG</h1>
    @foreach (var item in Model.errorloki)
    {
    
        <p class="error">@item</p>
    
    }
    </div>


