@page
@model IndexModel
@{
    ViewData["Title"] = "SAVONIAN KUMIPOJAT";
}
<style>
    h1 {
        text-align: center;
        margin-top: 20vh;
    }
</style>
<h1>@Model.verkko</h1>



@*<ul>
    @foreach(var item in @Model.Message.WeldInfos)
    {
        
    }
</ul>*@
