@page
@model IndexModel
@{
    ViewData["Title"] = "Savonia x Weldcube";
    
}
<div class="container">
    <div class="cmd">
        <div class="navikointi">
            <button onclick="location.href='/?handler=OnGet'"><img src="/images/updateButton.png"></button>

            <a href="#error"><button><img src="/images/errorButton.png"></button></a>
            <a href="#success"><button><img src="/images/succsessButton.png"></button></a>
        </div>
        <div class="counts">       
            <p class="onnistuicount">@Model.onnistumisloki.Count</p>
            <p class="errorcount">@Model.errorloki.Count</p>
        </div>
    </div>
    <div class="cmd" id="error">
        <h1>Welding error</h1>

        <table>
            <thead>
                <tr>
                    <th><img src="/images/id.png"></th>
                    <th><img src="/images/date.png"></th>
                    <th><img src="/images/time.png"></th>
                    <th><img src="/images/value.png"></th>
                    <th><img src="/images/violation.png"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2023-03-03</td>
                    <td>4:20</td>
                    <td>ERROR IN SIMOS BRAIN</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2023-03-03</td>
                    <td>4:20</td>
                    <td>ERROR IN SIMOS BRAIN</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2023-03-03</td>
                    <td>4:20</td>
                    <td>ERROR IN SIMOS BRAIN</td>
                    <td>none</td>
                </tr>
            </tbody>

        </table>
        <h1>system error</h1>
       <div class="system">
            @foreach (var item in Model.errorloki)
            {

                <p class="error">@item</p>

            }
       </div>
    </div>

    <div class="cmd" id="success">
        <h1>Welding success</h1>

        <table>
            <thead>
                <tr>
                    <th><img src="/images/id.png"></th>
                    <th><img src="/images/date.png"></th>
                    <th><img src="/images/time.png"></th>
                    <th><img src="/images/value.png"></th>
                    <th><img src="/images/violation.png"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2023-03-03</td>
                    <td>4:20</td>
                    <td>ERROR IN SIMOS BRAIN</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2023-03-03</td>
                    <td>4:20</td>
                    <td>ERROR IN SIMOS BRAIN</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2023-03-03</td>
                    <td>4:20</td>
                    <td>ERROR IN SIMOS BRAIN</td>
                    <td>none</td>
                </tr>
            </tbody>

        </table>
        <h1>system success</h1>

        <div class="system">
        @foreach (var item in Model.onnistumisloki)
        {

            <p class="onnistui">@item</p>

        }
        </div>
    </div>


</div>
<h5>© Savonian Kumipojat 2023</h5>


