@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<ul>
    @foreach(var item in @Model.Message.WeldInfos)
    {

    }
</ul>
<div class="info">
    <div class="otsikko">Section 1</div>
<div class="grid">
  
  <div class="one" id="values">1</div>
  <div class="two" id="values">2</div>
  <div class="three" id="values">3</div>
</div>


</div>
<div class="info"></div>
<div class="info"></div>
<div class="info"></div>