@page
@model IndexModel
@{
    ViewData["Title"] = "SAVONIAN KUMIPOJAT";
}
<script>
    console.log("Sivut latautuu.");
</script>
<h1>@Model.verkko</h1>



@*<ul>
    @foreach(var item in @Model.Message.WeldInfos)
    {
        
    }
</ul>*@
<div class="info" id="section1">
    <div class="otsikko">Section 1</div>
<div class="grid">
  
  <div class="one" id="values">1</div>
  <div class="two" id="values">2</div>
  <div class="three" id="values">3</div>
</div>


</div>
<div class="info" id="section2">
    <div class="otsikko">Section 2</div>
</div>
<div class="info" id="section3">
    <div class="otsikko">Section 3</div>
</div>
