@page
@model IndexModel
@{
    ViewData["Title"] = "root@weldcube: ~";
}
<style>
 
</style>
<div id="cmd">
    
    <p>@Model.verkko </p>
    <p>@Model.smtppalvelin </p>
    <p>root@weldcube:~# </p>
</div>

