@page
@model IndexModel
@{
    ViewData["Title"] = "root@weldcube: ~";
}
<style>
 
</style>
<div id="cmd">
    
    @foreach (var item in Model.lokikirja)
    {
        <p>@item</p>
    }
    <p>root@weldcube:~# </p>
</div>

